.compalint-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
 
  h2 {
    text-align: center;
    color: #333;
  }
 
  form {
    display: flex;
    flex-direction: column;
  }
 
  label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
 
  textarea,
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
 
  button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
 
  button:hover {
    background-color: #2980b9;
  }
 
  .complaint-response {
        margin: 0;
        padding-left: 40%;
        padding-top: 10%;
  }
 
  /* Add this to your styles.css or your component's CSS file */
 
.success-message {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
 
.success-message  span {
  font-size: 40;
 
  color: rgb(29, 227, 52); /* Set text color to white for better visibility */
}
/* complaint.component.css */
.complaint-image {
  max-width: 100%; /* Set a specific percentage or pixel value based on your design */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally within its container */
}
 