<body>
    <div id="login">
      <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
      <div class="container">
        <div class="title">CabCabBookingPlatform</div>
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form id="login-form" class="form" (ngSubmit)="changePassword()">
                <h3 class="text-center text-info">Set New Password</h3>
                <div class="form-group">
                  <label for="password" class="text-info">Password:</label><br />
                  <input
                    type="text"
                    name="password"
                    id="password"
                    class="form-control"
                    [(ngModel)]="dto.password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="confirmpassword" class="text-info"
                    >Confirm Password:</label
                  ><br />
                  <input
                    type="text"
                    name="confirmpassword"
                    id="confirmpassword"
                    class="form-control"
                    [(ngModel)]="confirmpassword"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="otp" class="text-info">OTP:</label><br />
                  <input
                    type="text"
                    name="otp"
                    id="otp"
                    class="form-control"
                    [(ngModel)]="dto.otp"
                    required
                  />
                </div>
                <div class="form-group">
                  <br />
                  <input
                    id="submit"
                    type="submit"
                    name="submit"
                    class="btn btn-info btn-md"
                    value="submit"
                  />
                </div>
                <div
                  id="register-link"
                  class="text-right d-flex justify-content-between"
                ></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
