<div class="body">
    <div id="login">
      <div class="header">CabBookingPlatform  <div><img class="headerimage" src="https://icons-for-free.com/iconfiles/png/512/taxi+icon-1320085755769745456.png" width="70px" height="80px" ></div></div>
      <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form id="login-form" class="form"  (ngSubmit)="doLogin()">
                <h3 class="text-center text">Login</h3>
                <div class="form-group">
                  <label for="username" class="text">Username:</label><br />
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="form-control"
                    [(ngModel)]="dto.username"
                     
                  />
                  <div
                  *ngIf= "isAvailable"
                  style="color: red"
                >
                  <p>username is invalid</p>
                </div>
                </div>
                <div class="form-group">
                  <label for="password" class="text">Password:</label><br />
                  <input
                    type="text"
                    name="password"
                    id="password"
                    class="form-control"
                    [(ngModel)]="dto.password"
                    required
                    #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{0,6}"
                   
                  />
                  
                  <div
                  *ngIf= "isAvailable"
                  style="color: red"
                >
                  <p>password is invalid</p>
                  
                </div>
                <div *ngIf="password.invalid==true && password.pristine==false && password.touched==true" style="color:red;font-style: italic;font-size: small;">*Please Enter Valid Password</div>
              
                </div>
                <div class="text-center form-group">
                  <br />
                  <input
                    type="submit"
                    name="submit"
                    class="btn btn-danger"
                    value="submit"
                  />
                </div>
                <div
                  id="register-link"
                  class="text-right d-flex justify-content-between"
                >
                  <a (click)="forgotpassword()" class="text"
                    >Forgot Password</a
                  >
                  <a (click)="registration()" class="text">Register here</a>
                </div>
              </form>
               
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="footer"><p>hello</p></div>
</div>
  
